<div class="
tw-w-full tw-h-full
tw-overflow-y-auto
tw-relative
tw-flex tw-flex-col tw-justify-start tw-items-center
tw-pt-8 tw-pb-32
">


    <div class="
    tw-w-full tw-flex tw-flex-row tw-justify-center tw-items-center
    ">
        <div class="
        tw-w-[80ch] tw-max-w-[100dvw]
        tw-flex tw-flex-col tw-justify-start tw-items-stretch
        tw-gap-4 tw-overflow-y-auto
        ">
            @for (message of messages; track message) {
                @switch (message.role) {
                    @case (user) {
                        <app-text-user [message]="message"></app-text-user>
                    }
                    @case (system) {
                        <app-text-system [message]="message"></app-text-system>
                    }
                }
            }
        </div>
    </div>

    <div class="
    tw-fixed tw-bottom-6 tw-left-auto
    tw-w-[80ch]
    ">
      <app-text-input/>
    </div>
</div>
